<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simple CRM</span>

    <span class="menubar-spacer"></span>
  {{isUserLoggedIn}}
    <div *ngIf="isUserLoggedIn"> 
      <a mat-button [routerLink]="['/logout']" routerLinkActive="active">
          <mat-icon>logout</mat-icon> Log Out
      </a>
    </div>
    <div *ngIf="!isUserLoggedIn"> 
      <a mat-button [routerLink]="['/login']" routerLinkActive="active">
          <mat-icon>login</mat-icon> Log In
      </a>
    </div>

  </mat-toolbar-row>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav opened="false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="sidenav.toggle()"> Home </a>
      <a mat-list-item [routerLink]="['/create-account']"> SOA Tools </a>
      <a mat-list-item [routerLink]="['/contacts']"> Meeting Rooms </a>
      <a mat-list-item [routerLink]="['/create-contact']"> Trackers </a>
      <a mat-list-item [routerLink]="['/activities']"> Projects </a>
      <a mat-list-item [routerLink]="['/create-activity']"> Create Activity </a>
      <!-- <a mat-list-item (click)="sidenav.toggle()">Close</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>